<div listDraggable class="list">
  <div listDrag>item 1</div>
  <div listDrag>item 2</div>
  <div listDrag>item 3</div>
  <div listDrag>item 4</div>
  <div listDrag>item 5</div>
  <div listDrag>item 6</div>
  <div listDrag>item 7</div>
</div>


<div class="group">
  <div listDraggable class="list" #listOne="listDraggable" [connectedTo]="listTwo">
    <div listDrag>item 1</div>
    <div listDrag>item 2</div>
    <div listDrag>item 3</div>
    <div listDrag>item 4</div>
    <div listDrag>item 5</div>
    <div listDrag>item 6</div>
    <div listDrag>item 7</div>
  </div>

  <div listDraggable class="list" #listTwo="listDraggable" [connectedTo]="listOne">
    <div listDrag>item 1</div>
    <div listDrag>item 2</div>
    <div listDrag>item 3</div>
    <div listDrag>item 4</div>
    <div listDrag>item 5</div>
    <div listDrag>item 6</div>
    <div listDrag>item 7</div>
  </div>
</div>
